.morning {
    background-image: url(img/morning.png);
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}

.afternoon {
    background-image: url(img/afternoon.png);
}

.evening {
    background-image: url(img/evening.png);
}

.night {
    background-image: url(img/night.png);
}

body {
    padding: 0px;
    margin: 0px;
}

.container h1, .container h2 {
    font-family: 'Lucida Calligraphy';
    position: relative;
    top: 300px;
    margin: 0 auto;
    text-align: center;
}

.container p {
    font-family: 'Lucida Calligraphy';
    position: relative;
    top: 300px;
    left: 35%;
    color: black;
}

.nav {
    margin: 0 auto;
    height: 58px;
    width: 320px;
    background-color: rgb(255, 231, 231);
    border-radius: 0 0 15px 15px;
}

.nav a {
    position: relative;
    top: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(60, 184, 184);
    border-radius: 5px;
    color: black;
}

.nav a:hover {
    background-color: rgb(0, 139, 139);
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(207, 204, 204);
}

.foot {
    text-align: center;
}